/*Navigation styles*/
.menu {
list-style-type:none;
margin: 0;
padding: 0;
/*text-align:center;*/
background-color:#DAF7A6;
}

.menu li {
  display: inline-block;
}

.menu a{
  display: block;
  padding: 0;
  margin:15px 2em;
}

.lia:hover {
background-color: #16DE6A;
}

.subdivf1 {
/*display: flex;*/
}

.listst {
list-style-type:none;
display:flex;
}

.lsnav {
	font-family:'Poppins', sans-serif;
	text-decoration:none;
	color:green;
	font-size:30px;
}


/*Styles for headers and paragraphs*/
.lstitle {
	font-family:'Sansita Swashed', cursive, ;
}

.lstext {
	font-family:'B612', sans-serif;
	font-size:25px;
	margin:auto auto;
}


.divbody {
	margin: 5% 7%;
}

.divtextset {
	padding-top: 6em;
}

.divtextset2 {
	background-color:initial;
	margin:auto auto;
}

.pad {
        padding: 40px;
}

/*Styles for header banner*/
#banner
{
	overflow: hidden;
	padding: 7em 0em 7em 0em;
	background: rgb(0, 128, 0);
	background-size: cover;
	text-align: center;
	color: rgb(255,255,255);
}
