ul#menu {
display: inline;
list-style-type:none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:#6CE59F
}
li#menuli {
display: block;
color:purple;
text-align:center;
padding:18px;
text-decoration:none;

}
li a:hover {
background-color: #16DE6A;
}
.table {
display: table;
margin: 0 auto;
}
